/*!
 * MissionHub Config
 * https://www.missionhub.com
 *
 * Copyright 2011, Campus Crusade for Christ International
 * 
 * Description: Configuration for MissionHub Mobile
 * Author: Chris Roemmich <chris.roemmich@cojourners.com>
 * Date: Wed, 29 Jun 2011 14:29:42 -0400
 */

(function() {
	
	mh.config = {	
		base_url: 'https://www.missionhub.com',
		oauth_url: 'https://www.missionhub.com/oauth',
		oauth_client_id: '',
		oauth_client_secret: '',
		oauth_scope: 'userinfo,contacts,contact_assignment,followup_comments,roles',
		api_url: 'https://www.missionhub.com/api/v1',
		cache: {
			disable: true,
			cache_expiration_interval: 15
		},
		demo_mode: true
	};
	
})();

Ti.include('/mh/config/colors.js');